.idea
idea
.DS_Store

*.egg-info/
.installed.cfg
*.egg
bot/
dist
db.sqlite3
sqlite.db
venv
env
venv/
env/
geckodriver.log
logs/
*.log
*.jpg
**/migrations/**
!**/migrations
!**/migrations/__init__.py
*.json
__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

!*media/.gitkeep
!*product_urls/.gitkeep
!*format_files/.gitkeep
!*results/detail/.gitkeep
media/*

log/debug.log

build
doc
home.rst
make.bat
Makefile