aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.1
asyncio==3.4.3
attrs==21.2.0
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.7
frozenlist==1.2.0
idna==3.3
loguru==0.5.3
lxml==4.6.4
multidict==5.2.0
pydantic==1.8.2
requests==2.26.0
soupsieve==2.3.1
typing-extensions==3.10.0.2
urllib3==1.26.7
yarl==1.7.2
